* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header h1 {
    margin: 1rem 45%;
    padding: 1rem;
    color: #333;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2 auto;
    width: 40%;
}

form input[type="submit"] {
    width: 30%;
}

form input[type="submit"]:hover {
    background-color: #05ad98;
    font-weight: bold;
}

#login-gestor, #login-medico {
    border: 1px solid #111;
    border-radius: 15px;
    width: 30%;
    margin: 0 auto;
    background-color: #bbbfbf;
    padding: 1rem;
    color: #333;
    font-weight: bold;
}

form input {
    padding: .5rem .3rem;
    background-color: #fff;
    border: 1px solid #bbb;
    margin: .5rem auto;
    width: 80%; 
    color: #111;
    border-radius: 10px;
    font-size: .8rem;
}

form input[type="text"]:focus, form input[type="password"]:focus {
    border: none;
}

form input, button {
    margin: 1rem auto;
}

form button {
    background-color: rgb(5, 173, 153);
    color: #fff;
    margin: 0 auto 1rem;
    padding: 1rem;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 5px;
}
button:hover{
    color: #fff;
    background-color: rgb(4, 136, 121);
}