* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header h1 {
    margin: 1rem 45%;
    padding: 1rem;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2 auto;
    width: 40%;
}

form input {
    padding: .4rem;
    background-color: #000;
    border: 1px solid #bbb;
    margin: 0 auto;
    width: 40%; 
}

form input[type="text"]:focus, form input[type="password"]:focus {
    border: none;
}

form input, button {
    margin: 1rem auto;
}

form button {
    background-color: rgb(0, 0, 60);
    color: #ccc;
    padding: 1rem;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: .9rem;
}
button:hover{
    color: #fff;
    border: 2px solid #000;
}